{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'usuarios/css/login.css' %}" rel="stylesheet">
    
    <title>login</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'usuarios/img/bit.jpg' %}"  >
        </div>
        <div class="form">
          <div class="mensagem">  
            {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
            <form action="{% url 'login'%}" method="POST">{% csrf_token %}
                <div class="form-header">
                    <div class="title">
                        <h1>Logar</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{% url 'cadastro'%}">cadastro</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" placeholder="Digite seu email..." name="email">
                    </div>
                
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input type="password" id="password" placeholder="Digite sua senha..." name="senha">
                    </div>


                </div>

            

                <input type="submit" value="Entrar"class="salvar">
            </form>
        </div>
    </div>
</body>
</html>